.form-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.form-wrapper-left {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

.form-text-container {
  max-width: 32rem;
  text-align: center;
  margin: 0 auto;
}

.form-text-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form-text-caption {
  margin-top: 1rem;
  color: #6b7280;
}

@media (min-width: 640px) {
  .form-wrapper-left {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .form-text-header {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .form-container {
    align-items: center;
    height: 100vh;
  }
  .form-wrapper-left {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 50%;
  }
}
