.form-container {
  display: flex;
  position: relative;
  height: 100dvh;
  align-items: center;
}

.form-wrapper-left {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 70%;
}

.form-text-container {
  max-width: 32rem;
  text-align: center;
  margin: 0 auto;
}

.form-text-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form-text-caption {
  margin-top: 1rem;
  color: #6b7280;
}

.form-input-container {
  margin-bottom: 0;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 448px;
  padding: 0 16px;
}

.form-input-button {
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--primary-color);
}

.form-wrapper-right {
  position: relative;
  width: 30%;
  height: 100%;
  background-image: url("../../assets/login_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrapper-right {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: var(--header-font-size);
}

@media (min-width: 640px) {
  .form-wrapper-left {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .form-text-header {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .form-wrapper-left {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
