.Setting-container {
  display: flex;
  flex-direction: row;
  background-color: var(--sec-background-color);
}

.settingSection {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #f7f9ff;
  border-left: 1px solid #d1d5db;
  padding-bottom: 50px;
}

.s-Header {
  padding: 35px 40px;
}
.s-Heading {
  font-size: 19px;
  font-weight: 500;
}

.s-Content {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  gap: 25px;
}

.s-Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 14px 30px;
  border-radius: 15px;
  border: 1px solid #d1d5db;
}

.s-Title {
  font-size: 17px;
  font-weight: 400;
}

.s-Desc {
  font-size: 14px;
  color: #6b7280c9;
}

.s-arrow {
  height: auto;
  width: 30px;
  padding: 3px 0px;
}

.s-SurveyButton {
  height: 36px;
  padding: 0px 20px;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.s-SurveyButton:hover {
  color: var(--primary-color);
  background-color: transparent;
}
