.Register-Section {
  display: flex;
  flex-direction: row;
  height: 100dvh;
}

/* ================================================= Register-Left ================================================= */

.Register-Left-Container {
  position: relative;
  align-content: center;
  width: 35%;
  background-color: #6f3afa;
  color: white;
}

.Register-Img {
  width: 90%;
  height: auto;
  margin: auto;
}

.R-Font {
  position: relative;
  padding: 0 45px;
  text-align: start;
}

.Register-Left-Container h1 {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: var(--header-font-size);
}

.Register-Left-Container p {
  font-weight: 400;
  font-size: 21px;
}

/* ================================================= Register-Right ================================================= */

.Register-Container {
  background-color: var(--sec-background-color);
  width: 65%;
  padding: 50px;
}

.Register-Logo {
  width: 250px;
  height: auto;
}

/* Registration Section */
.Register-Content {
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.Register-Display {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.Register-Items {
  position: relative;
  flex-grow: 1;
}

.Register-Items-Age {
  width: 130px;
}

.Register-Input-Label {
  display: block;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #374151;
  padding-top: 19px;
}

.Register-Input-Box,
.Register-Input-Box-Pass {
  width: 100%;
  margin-top: 4px;
  border-radius: 8px;
  border-color: #e5e7eb;
  border: rgba(0, 0, 0, 0.05) 1px solid;
  color: #374151;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.Register-Input-Box {
  padding: 11px 10px;
}

.Register-Input-Box-Pass {
  padding: 11px 55px 11px 10px;
}

.Password-Toggle-Icon {
  position: absolute;
  top: 53%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 21px;
  padding-right: 5px;
}

.Password-Toggle-Icon:hover {
  color: #333;
}

.Register-Input-Wrapper {
  position: relative;
  width: 100%;
}

.RoleContainer{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  padding-right: 5px;
  border-color: #e5e7eb;
  border: rgba(0, 0, 0, 0.05) 1px solid;
  color: #374151;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.RoleOption {
  margin: 10px 25px;
}

.RoleOption input[type="radio"] {
  margin-right: 10px;
}

.RoleInputLabel {
  font-size: 16px;
  cursor: pointer;
}

.Register-Notice {
  font-size: 15px;
  line-height: 20px;
  color: #6b7280;
  padding-top: 35px;
}

input[type="text"] {
  font-size: 16px;
}

.Error-Message {
  color: red;
  font-size: 13px;
  margin-top: 2px;
}

/* Register Button */
.Register-Button-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.Register-Button {
  padding: 12px 50px;
  border-radius: 5px;
  color: var(--white);
  font-weight: 500;
  font-size: 17px;
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.Register-Button:hover {
  color: var(--primary-color);
  background-color: transparent;
}

.Register-Button-Container p {
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
  color: var(--secondary-color);
}

.Already-have-Acc {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (min-width: 640px) {
  .Register-Input-Box {
    font-size: 14px;
    line-height: 20px;
  }
}
