.sd-container {
  display: flex;
  flex-direction: column;
  width: 192px;
  height: 100dvh;
  padding: 32px 14px;
  background-color: white;
  position: sticky;
  top: 0;
}

.sd-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sd-main-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sd-icon-items {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
}

.sd-icon-label {
  font-weight: 500;
  font-size: 16px;
}

.sd-icon-button {
  padding: 8px 7px;
  transition: color 200ms;
  border-radius: 8px;
}

.sd-icon-button:focus {
  outline: none;
}

.sd-icon-button:hover {
  background-color: #8d8a8a39;
}

.sd-icon-button.active {
  background-color: #4e4effd3;
  color: white;
}

.sd-icon-button.active img {
  filter: brightness(0) invert(1);
}

/* FOR AI-Chatbot */
.chatbot-highlight {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
}

.chatbot-highlight:hover {
  background-color: #4e4effd3;
  color: white;
  font-size: 17px;
}

.chatbot-highlight:hover img {
  filter: brightness(0) invert(1);
}
